In [ ]:
#question1:
import pandas as pd
print(pd.__version__)

1.1.4

In [ ]:
#question2:
import numpy as np
import pandas as pd
arr = np.array([1, 3, 2, 4, 5]) 
series = pd.Series(arr) 
print(series)

0    1
1    3
2    2
3    4
4    5
dtype: int64

In [ ]:
#question3:
import numpy as np
import pandas as pd

series = pd.Series([5, 6, 7, 8, 9, 4, 3 ])
df = series.to_frame().reset_index() 
print(df)

   index  0
0      0  5
1      1  6
2      2  7
3      3  8
4      4  9
5      5  4
6      6  3

In [ ]:
#question4:
import seaborn as sns
mpg=sns.load_dataset('mpg')
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [ ]:
#question5:

import seaborn as sns
mpg=sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [ ]:
#question6:

import seaborn as sns
mpg=sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]